.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat_box{
  -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
}
